body {
    width: 100%;
    margin: 0;
    padding: 0;
    /* background-color:red;*/
}

/*--------header-----------*/
header {
    position: relative;
    background: url("../images/header.jpg")  no-repeat;
    width: 100%;
    min-height: 768px;
    background-size: cover;
}
.head_logos {
    padding: 3% 5%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
a {
    text-decoration: none;
    color: #ffffff;
}
.head_links a:not(.last) {
    margin-right: 70px;
}
.head_center_link {
    display: flex;
    /*width: 100%;
    height: 100%;
    margin: auto;*/

    flex-direction:column;
    justify-content: center;
    align-items: center;
}
.head_center_link p:first-child {
    font-size: 24pt;
    color: #ffffff;
}
.head_center_link p:last-child {
    font-size: 12pt;
}
.arow {
    font-size: 36pt;
    font-weight:bold;
    transform: rotate(90deg);
    color: white;
    position: absolute;
    bottom: 0;
    left: 50%;
    cursor: pointer;
}

/*--------header-----------*/

/*--------shop-------------*/
.shop {
    padding: 5%;
    width: 90%;
    font-size: 0;
}
.img1 {
    width: 40%;
    background: url("../images/body_big.png") no-repeat;
    min-height: 300px;
    background-size: contain;

}
.shop-right{
    width: 30%;

}
.img2 {
    background: url("../images/body_right-09.png") no-repeat;
    min-height: 300px;
    background-size: contain;

}
.img3 {
    background: url("../images/body_right.png") no-repeat;
    min-height: 300px;
    background-size: contain;
}
.img4 {

}
.img5 {

}

/*
.shop {
    padding: 5%;
    width: 90%;
    font-size: 0;
    height: 770px;

}
.shop>div {
    width: 100%;
}
.shop-left {
    display: inline-block;
    width: 60%;
    }
.shop-right {
    display: inline-block;
    width: 40%;
}
.img2, .img3 {
    display: block;
}
.shop-bottom {
    width: 100%;
    display: flex;
    justify-content: space-between;
}
*/
/*--------shop-------------*/
